#manual-entry {
    margin: 2%;
  }
  
  #manual-entry-form {
   margin-left: 15%;
   margin-right: 5%;
   margin-top: 10vh;
   font-weight: bold;
    /* background-color: aliceblue; */
  }
  
  #manual-entry-form input {
    border-radius: 10px;
    border: 4px solid black;
    padding: 2px;
    font-size: 20px;
    /* box-shadow: 10px 5px 5px red; */
   
   }
  
   #manual-entry-form select {
    border-radius: 10px;
    padding: 1vh;
    border: 4px solid black;
    /* box-shadow: 10px 5px 5px red; */
   
   }
  
  #box-1{
    display: flex;
    gap: 1vw;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1vh;
    height: 7vh;
    
  }
  
  #box-1 input{
   font-size: 20px;
   height: 4vh;
  }
  
  #box-2{
    display: flex;
    gap: 1vw;
    margin-bottom: 1vh;
    justify-content:flex-start;
    
  }
  
  #box-3{
    display: flex;
    gap: 1vw;
    margin-bottom: 1vh;
    align-items: center;
    justify-content:flex-start;
  }
  
  #box-3 input{
   padding: 2px;
   height: 4vh;
   font-size: 20px;
  }
  
  #box-4{
    display: flex;
    gap: 1vw;
    margin-bottom: 1vh;
    justify-content:flex-start;
    align-items: center;
    height: 7vh;
    white-space: nowrap;
    
  }
  
  #box-5{
    display: flex;
    gap: 1vw;
    margin-bottom: 1vh;
    justify-content:flex-start;
    align-items: center;
  }
  
  #box-6 {
    margin-top: 3%;
  }
  #box-6 button{
    margin-top: 3%;
    height: 5vh;
    width: 15vh;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px;
    transition: 500ms;
  }
  
  #box-6 button:hover{
    background-color: #5fbcd3;
    
  }
  
  #box-6 button:active{
    box-shadow:none;
  }
  
  #isbn {
    
  }
  
  #title {
    
  }
  
  #authors {
    
  }
  
  #description  {
    width: 80%;
    height: 20vh;
    padding: 2px;
  }
  
  #language{
    height: 3vh;
    width: 3vw;
  }
  
  #page-count{
    height: 3vh;
    width: 3vw;
  }
  
  #dust-jacket{
    height: 3vh;
    width: 3vw;
  }
  